.back-button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: rgb(75, 75, 75);

}

.login-page {
    margin-left: 1rem;
    margin-top: 1rem;
}

.welcome-back {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.welcome-subheading {
    font-size: 1rem;
    margin-top: 0;
    color: #2c2c2c;
    line-height: 1.1;
    max-width: 400px;
    font-weight: 100;
    margin-bottom: 2rem;
}

.input-div {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

}

.input-div label {
    font-size: 1.2rem;
    color: #333333;
    width: 2rem;
}

.input-div label svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #595959;
}

.input-div.focused label svg {
    fill: #d76925;
}

.input-div.focused {
    border-bottom: 2px solid #d76925;
    outline: none;
}

.input-div input {
    flex: 1;
    padding: 0.5rem 0;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
}

.forgot-password {
    text-align: right;
    margin: 1rem;
    margin-top: 0.3rem;
}

.forgot-password a {
    color: #d76925;
    text-decoration: none;
    font-size: 0.9rem;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.login-button {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    background-color: #d76925;
    color: rgb(248, 251, 249);
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.login-form {
    margin: 1.5rem;
}

.oo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
    margin-top: 2rem;
    flex-direction: row;
}

.dash {
    width: 6rem;
    height: 0.2rem;
    background-color: #ccc;
}

.oo-header p {
    font-size: 1rem;
    color: #666666;
}

.oo-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.oo-button {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 1rem;
    background: none;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.3rem;
}

.oo-button svg {
    width: 24px;
    height: 24px;
}

.facebook-btn {
    fill: #1960fb;
    color: #1960fb;
}

.facebook-btn span {
    color: #484849;
}

.google-btn {
    fill: #db4437;
    color: #db4437;
}

.google-btn span {
    color: #484849;
}

.signup-link {
    text-align: center;
    margin-top: 5rem;
    font-size: 1rem;
    color: #333333;
    font-weight: 300;
}

.signup-link span {
    color: #d76925;
    font-weight: 600;
    cursor: pointer;
}

.signup-form {
    margin: 1.5rem;
    margin-top: 1rem;
}