.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: var(--nav-bg);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.1rem;
    left: 0;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    border-top: 1px solid var(--border-color);
}

.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.3rem 0;

}

.nav-link svg {
    width: 1.5rem;
    height: auto;
    margin: 0;
    stroke: var(--text-secondary);

}

.nav-link p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--text-secondary);
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-link.active svg,
a.nav-link.active svg {
    stroke: var(--primary-color);
    fill: var(--primary-color);
}

.nav-link.active p,
a.nav-link.active p {
    color: var(--primary-color);
}
