.popular-job-card {
    padding: 0.7rem;
    margin: 2rem 0;
    box-sizing: border-box;
    flex: 0 0 clamp(260px, 80vw, 360px);
    min-width: clamp(260px, 80vw, 360px);
    display: flex;
    flex-direction: column;
    min-height: 200px;
    scroll-snap-align: start;
    margin-top: 1rem;
    border-radius: 12px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.pjc-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 0;
}

.pjc-company-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.pjc-ci-logo {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    overflow: hidden;
    display: inline-block;
}
.pjc-ci-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.pjc-ci-text p{
    margin-top: 0;
    font-size: 0.85rem;
    color: #514f4f;

}
.pjc-ci-text h3{
    margin-bottom: 0.25rem;
    font-size: 0.95rem;
    font-weight: 600;
}

.pjc-body h3{
    margin-top: 0.25rem;
    margin-bottom: 0.1rem;
    font-size: 1.05rem;
    font-weight: 500;
}
.pjc-body p{
    margin-top: 0.3rem;
    font-weight: 400;
    font-size: 0.9rem;
    color: rgb(65, 64, 64);
}
.pjc-body{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.tags{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 0.5rem;

}
.pjc-tag{
    background-color: #e0e0e0;
    padding: 0.3rem 0.6rem;
    border-radius: 1rem;
    font-size: 0.75rem;
}
.bookmark-icon{
    width: 2rem;
    height: auto;
    stroke: rgb(87, 87, 87);
    stroke-width: 1px;
}
.bookmark-icon.bookmarked{
    stroke: #1C274C;
    stroke-width: 1px;
    fill: rgb(247, 154, 32);
}