.welcome-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: 100dvh;
}

.welcome-image-container{
    text-align: center;
    position: relative;
}

.welcome-image{
    width: 15rem;
    height: auto;
}

.welcome-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle-1{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 2px dashed #ccdc52;
    position: absolute;
    top: 4rem;
    z-index: -2;
}

.circle-2{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    border: 2px dashed #ffa600;
    position: absolute;
    top: 6rem;
    left: 1.8rem;
    z-index: -1;
}

.circle-3{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 2px dashed #00a8cc;
    position: absolute;
    top: 9rem;
    left: 3.5rem;
    z-index: -1;
}

.bubble1{
    position: absolute;
    top: 6rem;
    left: 1.6rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #1265eb;
    border-radius: 50%;
}

.bubble2{
    position: absolute;
    top: 7rem;
    left: 13.5rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #ff6f61;
    border-radius: 50%;
}

.bubble3{
    position: absolute;
    top: 10rem;
    left: 12.5rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #32cd32;
    border-radius: 50%;
}

.bubble4{
    position: absolute;
    top: 13rem;
    left: 14.7rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #ffa500;
    border-radius: 50%;
}

.bubble5{
    position: absolute;
    top: 12rem;
    left: -0.3rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #800080;
    border-radius: 50%;
}

.welcome-page .tag{
    padding: 0.3rem 0.6rem;
    position: absolute;
    background-color: var(--card-bg);
    box-shadow: 0 1px 3px var(--shadow-color);
    border-radius: 0.8rem;
    color: var(--text-color);
    font-size: 0.7rem;
    animation: float 4s infinite alternate;
    z-index: 4;
}

@keyframes float {
    0% { transform: translate(0,0); }
    25% { transform: translate(15px,10px); }
    50% { transform: translate(-10px,20px); }
    75% { transform: translate(10px,-10px); }
    100% { transform: translate(0,0); }
}

.welcome-page .tag1 { top: 14rem; left: 0.5rem; animation-delay: 0s; }
.welcome-page .tag2 { top: 18rem; left: 0.3rem; animation-delay: 1s; }
.welcome-page .tag3 { top: 14rem; left: 14rem; animation-delay: 0.5s; }
.welcome-page .tag4 { top: 10rem; left: 12rem; animation-delay: 1.5s; }
.welcome-page .tag5 { top: 18rem; left: 15rem; animation-delay: 0.2s; }
.welcome-page .tag6 { top: 24rem; left: 10rem; animation-delay: 0.8s; }

.mask{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent 0%, var(--bg-color) 100%);
    z-index: 2;
}

.wt-heading{
    font-size: 2rem;
    margin-top: 2rem;
    color: var(--text-color);
    text-align: center;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 0.1rem;
}

.wt-subheading{
    font-size: 1rem;
    margin-top: 0;
    color: var(--text-secondary);
    text-align: center;
    line-height: 1.1;
    max-width: 400px;
    font-weight: 100;
}

.auth-buttons{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.btn{
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    width: 22rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.btn-signup{
    background-color: var(--hover-color);
    color: var(--primary-color);
    border: 1px solid var(--border-color);
}
.btn-signup:hover{
    background-color: rgb(0, 123, 255, 0.25);
}
.btn-login{
    background-color: var(--primary-color);
    color: white;
}
